* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header_top {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
}

.header_top_left {
    display: flex;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #222222;
    font-family: Lato, serif;
    font-size: 27px;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    margin: auto 0;
}

.logo_img {
    width: 59px;
    height: 51px;
    margin-right: 13px;
}

.logo_d {
    color: #f16d7f;
    font-family: "Lato - Black";
    font-weight: 400;
    letter-spacing: 0.68px;
}
.form {
    display: flex;
    margin-left: 37px;
    height: 38px;
}

.form_dropdown {
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    padding-right: 8px;
    padding-left: 15px;
    color: #222222;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    text-align: right;
}

.form_dropdown_summary {
    display: block;
}

.form_dropdown_summary::-webkit-details-marker {
    display: none;
}

.form_dropdown_summary::after {
    content: url("img/browse.png");
    margin-left: 8px;
    padding-right: 0.5em;
}

.form_dropdown[open] > summary::after {
    content: url("img/browse.png");
}

.form_input {
    padding-right: 160px;
    padding-left: 15px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    color: #a4a4a4;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
}

.form_input:focus {
    outline: none;
}

.form_button {
    border: 1px solid #e6e6e6;
    border-radius: 0 3px 3px 0;
    padding: 12px 11px;
    background-color: #ffffff;
}

.header_top_right {
    display: flex;
    justify-content: flex-end;
}
.cart {
    width: 32px;
    height: 29px;
    text-decoration: none;
}

.button_account {
    height: 38px;
    line-height: 38px;
    display: flex;
    align-items: center;
    background-color: #f16d7f;
    padding: 0 12px 0 19px;
    border: none;
    color: #ffffff;
    font-family: Lato, serif;
    font-size: 15px;
    font-weight: 400;
    text-align: right;
    margin-left: 26px;
}
.button_account_summary {
    display: block;
}

.button_account_summary::-webkit-details-marker {
    display: none;
}

.button_account_summary::after {
    content: url("img/button_account.png");
    margin-left: 8px;
    padding-right: 0.5em;
}

.button_account[open] > summary::after {
    content: url("img/button_account.png");
}


.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.menu_list {
    position: relative;
}

.last:hover .menu_box {
    right: 0;
    left: auto;
}

.last:hover .menu_box:before {
    right: 56px;
    left: auto;
}

.menu_link {
    text-decoration: none;
    display: block;
    color: #222222;
    padding: 20px 20px;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.menu_list:hover .menu_box {
    display: flex;
}

.menu_box {
    top: 57px;
    display: none;
    position: absolute;
    z-index: 3;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
    border: 1px solid #e9e9e9;
}

.menu_box:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: white;
    border-top: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
    position: absolute;
    transform: rotate(45deg);
    top: -7px;
    left: 36px;
}

.menu_item {
    margin-right: 46px;
}

.menu_item:last-of-type {
    margin: 0;
}

.menu_item_name {
    color: #232323;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #e8e8e8;
    width: 235px;
}

.menu_item_link {
    text-decoration: none;
    color: #646464;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 400;
    display: block;
    line-height: 28px;
}

.menu_item_link:hover {
    color: #f16d7f;
}

.slider {
    background: #e8e8e8;
    margin-bottom: 98px;
}

.slider_img {
    position: relative;
}

.slider_name {
    z-index: 2;
    position: absolute;
    margin-top: 224px;
}

.slider_text {
    padding-left: 12px;
    border-left: 12px solid #f16d7f;
}

.slider_text_h1 {
    font-size: 60px;
    line-height: 43px;
    letter-spacing: 1.5px;
}

.slider_text_h2 {
    margin-top: 50px;
    color: #222222;
    font-family: "Lato - Black", serif;
    line-height: 0;
    font-size: 40px;
    font-weight: 400;
    text-align: right;
    text-transform: uppercase;
}

.slider_text_colored {
    color: #f16d7f;
    line-height: 28px;
    letter-spacing: 1px;
}

.sale {
    display: flex;
    justify-content: space-between;
}

.sale_box {
    display: flex;
    flex-direction: column;
}

.sale_item {
    text-decoration: none;
    display: flex;
    margin-bottom: 20px;
}

.sale_item_bgc {
    background-color: #dadad2;
    height: 261px;
}

.sale_img {
    position: relative;
}

.sale_img_right {
    margin-left: auto;
    height: 240px;
}

.sale_text {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
    position: absolute;
    min-width: 125px;
    padding: 16px 20px 16px 19px;
    background-color: #ffffff;
}

.sale_text_h3 {
    color: #222222;
    font-family: "Lato - Black", serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

.sale_text_colored {
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}

.container_items {
    display: block;
}

.items_h1 {
    color: #222222;
    font-family: Lato, serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
}

.items_h2 {
    color: #9f9f9f;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    text-align: center;
    margin-bottom: 59px;
}

.items_box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 39px;
}

.card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: relative;
}
.card_img {
    position: relative;
}
.card_text {
    color: #222222;
    font-family: Lato, serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 18px;
    margin-bottom: 17px;
}

.card_text_colored {
    color: #f16d7f;
    font-family: Lato, serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 21px;
}

.card_text, .card_text_colored {
    margin-left: 15px;
}

.card_img_hover {
    position: absolute;
    width: 100%;
    height: 281px;
    background: rgba(58, 56, 56, 0.86);
    display: none;
    margin: 0 auto;
}

.card_button {
    display: flex;
    align-self: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 15px 13px;
}

.card_button_cart {
    margin-right: 8px;
}

.card:hover .card_img_hover {
    display: flex;
    justify-content: space-around;
}

.card:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.button_products {
    display: flex;
    height: 48px;
    margin: 79px auto 113px auto;
    padding-left: 24px;
    padding-right: 19px;
    background-color: #f16d7f;
    align-items: center;
    border: none;
}

.button_products_text {
    margin-right: 9px;
    color: #ffffff;
    font-family: Lato, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
}

.offer {
    margin-bottom: 97px;
}

.container_offer {
    justify-content: flex-start;
}

.offer_box {
    background-color: #222224;
    display: flex;
}

.offer_box_column {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.offer_img {
    position: relative;
}

.offer_name {
    position: absolute;
    margin-top: 146px;
    margin-left: 39px;
    color: #ffffff;
}
.offer_name_h1 {
    font-family: Lato, serif;
    font-size: 54px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.offer_name_h1_colored {
    color: #f16d7f;
    letter-spacing: 1.5px;
}

.offer_name_h3 {
    font-size: 32px;
    letter-spacing: 0.9px;
}

.offer_item {
    display: flex;
    justify-content: space-around;
}

.offer_item_img {
    align-self: flex-start;
}

.offer_text {
    width: 219px;
}

.offer_text_name {
    margin-bottom: 17px;
    color: #fbfbfb;
    font-family: Lato, serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

.offer_text_text {
    color: #fbfbfb;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}

.subscribe {
    position: relative;
    width: 100%;
    height: 438px;
    background: url("img/subscribe.png") no-repeat;
    background-size: cover;
    margin-bottom: 109px;
}

.subscribe_bgc {
    position: absolute;
    width: 100%;
    height: 438px;
    background: rgba(244, 244, 244, 0.7);
    background-size: cover;
}

.container_subscribe {
    justify-content: space-around;
}

.subscribe_box_left {
    display: flex;
    justify-content: space-between;
    margin-top: 111px;
}

.subscribe_photo {
    align-self: flex-start;
}

.subscribe_text {
    display: flex;
    flex-direction: column;
    margin-left: 28px;
}

.subscribe_quote {
    color: #222224;
    font-family: Lato, serif;
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    text-align: left;
    width: 386px;
}

.subscribe_name_colored {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    font-family: "Lato - Bold", serif;
    letter-spacing: 0.4px;
    line-height: 26px;
    margin-top: 19px;
}

.subscribe_name {
    color: #222224;
    font-family: "Lato Light", serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 14px;
}

.subscribe_slider {
    display: flex;
    width: 140px;
    justify-content: space-between;
    margin-top: 41px;
}

.subscribe_slider_item {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    border: none;
}

.subscribe_slider_item:hover {
    background-color: #f16d7f;
}

.subscribe_box_center {
    width: 1px;
    height: 438px;
    background-color: #ffffff;
}

.subscribe_name_h1 {
    margin-top: 148px;
    color: #222224;
    font-family: Lato, serif;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 54px;
    text-transform: uppercase;
}

.subscribe_name_h3 {
    letter-spacing: 0.35px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
}

.subscribe_form {
    display: flex;
}

.subscribe_form_input {
    border: none;
    width: 282px;
    height: 46px;
    border-radius: 23px 0 0 23px;
    background-color: #e1e1e1;
    opacity: 0.67;
    color: #222224;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    text-align: left;
    padding-left: 28px;
}

.subscribe_form_input:focus {
    outline: none;
}

.subscribe_form_button {
    width: 104px;
    height: 46px;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    color: #ffffff;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    text-align: center;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer_top_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 260px;
    margin-bottom: 97px;
}

.footer_top_text {
    display: flex;
    height: 180px;
    flex-direction: column;
    justify-content: space-between;
}

.footer_top_text_p {
    color: #898989;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 427px;
}

.footer_top_name {
    margin-top: 14px;
    color: #f16d7f;
    font-family: Lato, serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.footer_top_link {
    display: block;
    text-decoration: none;
    color: #898989;
    font-family: Lato, serif;
    font-size: 16px;
    font-weight: 400;
}

.footer_top_link:hover {
    color: #f16d7f;
}

.footer_bottom {
    display: flex;
    align-items: center;
    height: 79px;
    background-color: #e6e6e6;
}

.footer_bottom_box {
    color: #7a7a7a;
    font-family: Lato, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    height: 32px;
}

.bottom_items_box {
    width: 191px;
    display: flex;
    justify-content: space-between;
}

.footer_bottom_item {
    display: flex;
    justify-content: space-around;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
}
.footer_bottom_link {
    text-decoration: none;
    width: 32px;
    height: 32px;
}

.link1 {
    background: url("img/link1.png") no-repeat center;
}

.link2 {
    background: url("img/link2.png") no-repeat center;
}

.link3 {
    background: url("img/link3.png") no-repeat center;
}

.link4 {
    background: url("img/link4.png") no-repeat center;
}

.link5 {
    background: url("img/link5.png") no-repeat center;
}

.footer_bottom_item:hover{
    background-color: #f16d7f;
}
